* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #f4e542;
}

.game_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game {
  height: 600px;
  width: 600px;
  background-color: #f4e542;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  border: 1px solid blac;
  width: 100px;
  height: 100px;
  background-size: cover;
  display: flex;
}

.square.win {
  background-image: url('http://icons.iconarchive.com/icons/flat-icons.com/flat/96/Beer-icon.png');
}

.square.lose {
  background-image: url('http://icons.iconarchive.com/icons/hopstarter/keriyo-emoticons/96/Smiley-sad-icon.png');
}

.square.click {
  background-image: url('https://media.giphy.com/media/3mgxIeR3WvM1X0DxVM/giphy.gif');
}
